<style type="text/css">
table.display tbody tr:nth-child(even):hover td {
    background-color: red !important;
}

table.display tbody tr:nth-child(odd):hover td {
    background-color: blue !important;
}

.HG_books4_ps {
    max-height: 590px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
}

input[type=radio]:not(old):checked + label > span > span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid rgb(115, 153, 77);
    border-radius: 0.125em;
    background: rgb(153, 204, 102);
    background-image: -moz-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -webkit-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}

input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=radio]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=radio]:not(old) + label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192, 192, 192);
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}
</style>
<div class="content-page" ng-init="test2();">
    <div class="content">bbbbbbbbbbcc
        <ul>
            <li ng-repeat="data in bookingDetialsList"
>
                {{data.booking_final_data_id}}
            </li>
        </ul>
    </div>
    <!-- <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">Standard Modal</button> -->
    <button ng-click="calculateEsitmated();" class="btn btn-primary pull-right" style="display:none" id="updatenew" type="button">Update</button>
    <script type="text/javascript">
    jQuery('#datepicker').datetimepicker({
        minDate: new Date()
    });
    </script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
